# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
Debug/
*.launch
*.xml
.cproject
.project

#Temporary files
*.swp
*.map
*~
*#*
*.#*

#Dependency files
*.d

#Binaries
*.axf
*.bin

#Cmake files
CMakeFiles/
*.dir/*
Makefile
*cmake_install.cmake
CMakeCache.txt
build/

#Output files
out/*

#Doxygen output
*html*

TAGS
.dir-locals.el

modules/GitSHA1.c